In [1]:
import os
import pandas as pd
from deep_translator import GoogleTranslator
import ast

In [2]:
folder1 = 'meza_dzivnieki'
folder2 = 'citi_atteli'
a1= os.listdir(folder1)
a2 = os.listdir(folder2)
a1_no_ext=[os.path.splitext(x)[0] for x in a1]
a2_no_ext=[os.path.splitext(x)[0] for x in a2]
a1_no_ext, a2_no_ext #create list of file names without extension

(['a badger',
  'a bear',
  'a butterfly',
  'a crow',
  'a deer',
  'a fox',
  'a hare',
  'a hawk',
  'a hedgehog',
  'a lynx',
  'a moose',
  'a mouse',
  'a wild boar',
  'a wolf',
  'a woodpecker',
  'an ant',
  'an European viper',
  'an owl',
  'marten'],
 ['a becca',
  'a boletus',
  'a cave',
  'a chanterelle',
  'a fir cone',
  'a fly agaric',
  'a nest',
  'a pine needle',
  'a rock',
  'a rowan',
  'a tree',
  'an acorn',
  'an oak leaf',
  'blueberries'])

In [3]:
to_translate1 = str(a1_no_ext)
to_translate2 = str(a2_no_ext)
translated_a1_lv = GoogleTranslator(source='auto', target='lv').translate(to_translate1)
translated_a1_lt = GoogleTranslator(source='auto', target='lt').translate(to_translate1)
translated_a2_lv = GoogleTranslator(source='auto', target='lv').translate(to_translate2)
translated_a2_lt = GoogleTranslator(source='auto', target='lt').translate(to_translate2)
translated_a1_lv, translated_a1_lt, translated_a2_lv, translated_a2_lt

("['āpsis', 'lācis', 'tauriņš', 'vārna', 'briedis', 'lapsa', 'zaķis', 'vanags', 'ezis', 'lūsis' , 'alnis', 'pele', 'mežacūka', 'vilks', 'dzenis', 'skudra', 'Eiropas odze', 'pūce', 'cauniņa']",
 "['barsukas', 'meška', 'drugelis', 'varna', 'elnias', 'lapė', 'kiškis', 'vanagas', 'ežiukas', 'lūšis' , 'briedis', 'pelė', 'šernas', 'vilkas', 'mednis', 'skruzdėlė', 'europinė angis', 'pelėda', 'kiaunė']",
 '["beka", "baraviku", "ala", "gailene", "egles čiekurs", "mušmire", "ligzda", "priedes skuja", "akmens", " pīlādzis", "koks", "zīle", "ozola lapa", "mellenes"]',
 '["beka", "baravykas", "urvas", "voveraitė", "kėglis", "musmirė", "lizdas", "pušų adata", "akmuo", " šermukšnis“, „medis“, „gilė“, „ąžuolo lapas“, „mėlynės“]')

In [4]:
# initializing string representation of a list
ini_list = translated_a1_lv
ini_list2 = translated_a2_lv
 
# Converting string to list
lv1 = ast.literal_eval(ini_list)
lv2 = ast.literal_eval(ini_list2)

In [5]:
df = pd.DataFrame(zip(a1, a1_no_ext, lv1), columns =['Image', 'English', 'Latvian'])
df

                    Image            English       Latvian
0            a badger.png           a badger         āpsis
1              a bear.png             a bear         lācis
2         a butterfly.png        a butterfly       tauriņš
3              a crow.png             a crow         vārna
4              a deer.png             a deer       briedis
5               a fox.png              a fox         lapsa
6              a hare.png             a hare         zaķis
7              a hawk.png             a hawk        vanags
8          a hedgehog.png         a hedgehog          ezis
9              a lynx.png             a lynx         lūsis
10            a moose.png            a moose         alnis
11            a mouse.png            a mouse          pele
12        a wild boar.png        a wild boar      mežacūka
13             a wolf.png             a wolf         vilks
14       a woodpecker.png       a woodpecker        dzenis
15             an ant.png             an ant        skudra
16  an European viper.png  an European viper  Eiropas odze
17             an owl.png             an owl          pūce
18             marten.png             marten       cauniņa

In [6]:
df2 = pd.DataFrame(zip(a2, a2_no_ext, lv2), columns =['Image', 'English', 'Latvian'])
df2

                Image        English        Latvian
0         a becca.png        a becca           beka
1       a boletus.png      a boletus       baraviku
2          a cave.png         a cave            ala
3   a chanterelle.png  a chanterelle        gailene
4      a fir cone.png     a fir cone  egles čiekurs
5    a fly agaric.png   a fly agaric        mušmire
6          a nest.png         a nest         ligzda
7   a pine needle.png  a pine needle  priedes skuja
8          a rock.png         a rock         akmens
9         a rowan.png        a rowan       pīlādzis
10         a tree.png         a tree           koks
11       an acorn.png       an acorn           zīle
12    an oak leaf.png    an oak leaf     ozola lapa
13    blueberries.png    blueberries       mellenes