In [166]:
import os, sys, random, pygame, csv
from PIL import Image
import pandas as pd
from deep_translator import GoogleTranslator
import json
import ast
import numpy as np

In [167]:
folder1 = 'meza_dzivnieki'
folder2 = 'citi_atteli'
a1= os.listdir(folder1)
a2 = os.listdir(folder2)
a1_no_ext=[os.path.splitext(x)[0] for x in a1]
a2_no_ext=[os.path.splitext(x)[0] for x in a2]
a1_no_ext, a2_no_ext #create list of file names without extension

(['alnis',
  'cauna',
  'dzenis',
  'ezis',
  'lapsa',
  'lācis',
  'lūsis',
  'mežacūka',
  'odze',
  'pele',
  'pūce',
  'skudra',
  'stirna',
  'taurenis',
  'vanags',
  'vilks',
  'zaķis',
  'āpsis',
  'žagata'],
 ['akmens',
  'ala',
  'apšu beka',
  'baravika',
  'gailene',
  'koks',
  'ligzda',
  'mellene',
  'mušmire',
  'ozollapa',
  'ozolzīle',
  'pīlādzis',
  'skuja',
  'čiekurs'])

In [168]:
to_translate1 = str(a1_no_ext)
to_translate2 = str(a2_no_ext)
translated_a1_eng = GoogleTranslator(source='auto', target='en').translate(to_translate1)
translated_a1_lt = GoogleTranslator(source='auto', target='lt').translate(to_translate1)
translated_a2_eng = GoogleTranslator(source='auto', target='en').translate(to_translate2)
translated_a2_lt = GoogleTranslator(source='auto', target='lt').translate(to_translate2)
translated_a1_eng, translated_a1_lt, translated_a2_eng, translated_a2_lt

("['moose', 'marten', 'woodpecker', 'hedgehog', 'fox', 'bear', 'lynx', 'boar', 'viper', 'mouse', 'owl', 'ant', ' doe', 'butterfly', 'hawk', 'wolf', 'hare', 'badger', 'chatter']",
 '["briedis", "kiaunė", "medis", "ežiukas", "lapė", "meška", "lūšis", "šernas", "angis", "pelė", "pelėda", "skruzdė", " stirniukas“, „drugelis“, „vanagas“, „vilkas“, „kiškis“, „barsukas“, „plepus“]',
 "['stone', 'cave', 'aspen beck', 'bog', 'barn', 'tree', 'nest', 'blueberry', 'flycatcher', 'oak leaf', 'acorn', 'acorn', 'needle', 'cone']",
 '["akmuo", "urvas", "drebulės bekas", "pelkė", "tvartas", "medis", "lizdas", "mėlynė", "muskeliai", "ąžuolo lapas", "gilė", "gilė" , \'adata\', \'kūgis\']')

In [169]:
# initializing string representation of a list
ini_list = translated_a1_eng
ini_list2 = translated_a2_eng
 
# Converting string to list
eng1 = ast.literal_eval(ini_list)
eng2 = ast.literal_eval(ini_list2)

 
# printing final result and its type
print(eng1, type(eng1))
print(eng2, type(eng2))

['moose', 'marten', 'woodpecker', 'hedgehog', 'fox', 'bear', 'lynx', 'boar', 'viper', 'mouse', 'owl', 'ant', ' doe', 'butterfly', 'hawk', 'wolf', 'hare', 'badger', 'chatter'] <class 'list'>
['stone', 'cave', 'aspen beck', 'bog', 'barn', 'tree', 'nest', 'blueberry', 'flycatcher', 'oak leaf', 'acorn', 'acorn', 'needle', 'cone'] <class 'list'>

In [170]:


df1 = pd.DataFrame(zip(a1, a1_no_ext, eng1), columns =['Image', 'Latvian', 'English'])
df1

           Image   Latvian     English
0      alnis.png     alnis       moose
1      cauna.png     cauna      marten
2     dzenis.png    dzenis  woodpecker
3       ezis.png      ezis    hedgehog
4      lapsa.png     lapsa         fox
5      lācis.png     lācis        bear
6      lūsis.png     lūsis        lynx
7   mežacūka.png  mežacūka        boar
8       odze.png      odze       viper
9       pele.png      pele       mouse
10      pūce.png      pūce         owl
11    skudra.png    skudra         ant
12    stirna.png    stirna         doe
13  taurenis.png  taurenis   butterfly
14    vanags.png    vanags        hawk
15     vilks.png     vilks        wolf
16     zaķis.png     zaķis        hare
17     āpsis.png     āpsis      badger
18    žagata.png    žagata     chatter

In [171]:
df2 = pd.DataFrame(zip(a2, a2_no_ext, eng2), columns =['Image', 'Latvian', 'English'])
df2

            Image    Latvian     English
0      akmens.png     akmens       stone
1         ala.png        ala        cave
2   apšu beka.png  apšu beka  aspen beck
3    baravika.png   baravika         bog
4     gailene.png    gailene        barn
5        koks.png       koks        tree
6      ligzda.png     ligzda        nest
7     mellene.png    mellene   blueberry
8     mušmire.png    mušmire  flycatcher
9    ozollapa.png   ozollapa    oak leaf
10   ozolzīle.png   ozolzīle       acorn
11   pīlādzis.png   pīlādzis       acorn
12      skuja.png      skuja      needle
13    čiekurs.png    čiekurs        cone

In [172]:
frames = [df1, df2]
df3 = pd.concat(frames)
df3

            Image    Latvian     English
0       alnis.png      alnis       moose
1       cauna.png      cauna      marten
2      dzenis.png     dzenis  woodpecker
3        ezis.png       ezis    hedgehog
4       lapsa.png      lapsa         fox
5       lācis.png      lācis        bear
6       lūsis.png      lūsis        lynx
7    mežacūka.png   mežacūka        boar
8        odze.png       odze       viper
9        pele.png       pele       mouse
10       pūce.png       pūce         owl
11     skudra.png     skudra         ant
12     stirna.png     stirna         doe
13   taurenis.png   taurenis   butterfly
14     vanags.png     vanags        hawk
15      vilks.png      vilks        wolf
16      zaķis.png      zaķis        hare
17      āpsis.png      āpsis      badger
18     žagata.png     žagata     chatter
0      akmens.png     akmens       stone
1         ala.png        ala        cave
2   apšu beka.png  apšu beka  aspen beck
3    baravika.png   baravika         bog
4     gailene.png    gailene        barn
5        koks.png       koks        tree
6      ligzda.png     ligzda        nest
7     mellene.png    mellene   blueberry
8     mušmire.png    mušmire  flycatcher
9    ozollapa.png   ozollapa    oak leaf
10   ozolzīle.png   ozolzīle       acorn
11   pīlādzis.png   pīlādzis       acorn
12      skuja.png      skuja      needle
13    čiekurs.png    čiekurs        cone

In [173]:
os.makedirs('learn_forest_data', exist_ok=True)  
df3.to_csv('learn_forest_data/input_data.csv')